/.idea/
[Bb]in/
[Oo]bj/

# DotCover is a Code Coverage Tool
*.dotCover

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Visual Studio 2015/2017 cache/options directory
.vs/